<header class="header">
    <nav class="navigation">
        <div class="logo-div"> 
            <p class="logo-text">Rujana's</p>
            <img class="logo-image" src="http://localhost:3000/images/logo.svg" alt="logo">
            <p class="logo-text">pastries</p>
        </div>
        <div class="category-and-shopping-cart-div">
            <div class="category-div" id="category-div-in-header">
            </div>
            <div class="shopping-cart-div"> 
                <div class="image-wrapper">
                    <a href="http://localhost:3000/cart" class="cart-image-link">
                        <img class="shopping-cart-image" src="http://localhost:3000/images/cart-icon.svg" alt="cart">
                    </a>
                    <p id="cart-items"></p>
                    <img class="search-icon-image" src="http://localhost:3000/images/searchicon.png" alt="">
                </div>
            </div>
        </div>
    </nav>
</header>